@use 'styles/variables' as variables;

.leaguesList {
  list-style-type: none;
}

.league {
  padding: 6px 10px;
  font-size: 14px;
  border-bottom: 1px solid variables.$primary-colors-gray-5;

  &:hover {
    background-color: variables.$primary-colors-red;

    .leagueLink {
      color: variables.$primary-colors-white;
    }
  }
}

.leagueLink {
  display: flex;
  width: 100%;
}
