.topTables {
  border-top: none;
  padding-top: 0;

  h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 500px;
  }
}
