@use 'styles/variables' as variables;
@use 'styles/breakpoints' as breakpoints;

.noResults {
  margin-top: 66px;

  @include breakpoints.mobile {
    margin-top: 32px;
  }
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
  color: variables.$primary-colors-2-000000;
  margin-bottom: 16px;
}

.link {
  margin-right: 6px;
  text-decoration: underline;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    color: variables.$primary-colors-red;
  }
}
