@use 'styles/variables' as variables;

.main {
  padding: 0;
  margin: 0 -16px;
}

.wrapper {
  margin-top: 64px;
  background-color: variables.$primary-colors-grey;
  padding: 120px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapperImage {
  display: flex;
  margin-bottom: 32px;
}

.content {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.35;
  text-align: center;
  color: variables.$primary-colors-2-000000;
}

.link {
  color: variables.$primary-colors-red;
  cursor: pointer;

  &:hover {
    color: variables.$primary-colors-red1;
  }
}
