@use 'styles/variables' as variables;

.main {
  padding: 0;
  margin-top: 10px;
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
  color: variables.$primary-colors-2-000000;
  margin-bottom: 33px;
}

.wrapper {
  background-color: variables.$primary-colors-grey;
  padding: 40px;
}
