@use 'styles/variables' as variables;

.main {
  margin-top: 17px;
}

.title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
  color: variables.$primary-colors-2-000000;
  margin-bottom: 40px;
}

.wrapper {
  background-color: variables.$primary-colors-grey;
  display: flex;
  flex-direction: column;
  padding: 40px 16px;
}

.content {
  p {
    margin-bottom: 16px;
  }

  a {
    color: variables.$primary-colors-red;

    &:hover {
      text-decoration: underline;
    }
  }
}

.wrapperImage {
  background-color: variables.$primary-colors-white;
  padding: 72px 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  justify-content: center;
  margin: 16px 0;
}
